.poke-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 1px solid black;
  margin: 20px;
  padding: 40px;
  border-radius: 20%;
}

.image {
  background-color: aliceblue;
  border: blue 1px solid;
  border-radius: 10%;
}

body {
  text-align: center;
  background-color:#e4e8ec;
}
